@CHARSET "UTF-8";

.clearfix {
	overflow: auto;
	zoom: 1;
}

#center {
	width: 950px;
	margin: auto;
}

#header {
	height: 200px;
	/* background: red; */
}

#body {
	min-height: 500px; /* 최소 높이 정해주고 가변! */
	/* background: orange; */
	border-top: 1px solid #FFFFFF;
}

#footer {
	height: 100px;
	/* background: yellow; */
	border-top: 1px solid #FFFFFF;
}

.title {
	height: 40px;
	font-family: 맑은 고딕;
	font-weight: bold;
	padding-left: 5px;
	padding-bottom: 0px;
	font-size: 30px;
}

.title h1 {
	float: left;
}

.title h2 {
	float: left;
}

.title h3 {
	display: none;
}

.title p {
	float: right;
	font-size: 10px;
	margin-right: 5px;
	margin-top: 20px;
}

.contents {
	min-height: 100px;
	font-family: 맑은 고딕;
	border-top: 4px solid #807480;
	padding-top: 10px;
}

.contents h3 {
	visibility: hidden;
}

/* .content-wrapper {
	min-height: inherit; 부모꺼 상속 받음
	height: inherit;
	margin: auto;
} */