@CHARSET "UTF-8";

.hidden {
	display: none;
}

.clearfix {
	overflow: auto;
	zoom: 1;
}

#center {
	width: 950px;
	margin: auto;
}

#header {
	height: 224px;
	display: inline-block;
	/* background: #979797; */
}

#body {
	min-height: 700px; /* 최소 높이 정해주고 가변! */
	/* background: orange; */
	/* margin-top: 50px; */
	border-top: 1px solid #FFFFFF;
}

#footer {
	height: 180px;
	border-top: 3px solid #363636;
	border-bottom: 10px solid #000000;
	padding: 20px;
	margin-bottom: 40px;
	background: #f6f6f6;
	margin-top: 40px;
}

.title {
	height: 60px;
	font-family: 맑은 고딕;
	font-weight: bold;
	padding-left: 5px;
	padding-bottom: 0px;
	font-size: 40px;
	margin-top: 50px;
}

.title h1 {
	float: left;
}

.title h2 {
	float: left;
}

.title p {
	float: right;
	font-size: 10px;
	margin-right: 5px;
	margin-top: 30px;
}

.contents {
	min-height: 100px;
	font-family: 맑은 고딕;
	border-top: 2px solid #363636;
	padding-top: 30px;
}

/* .content-wrapper {
	min-height: inherit; 부모꺼 상속 받음
	height: inherit;
	margin: auto;
} */